.dashboard_container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    // background: rgb(27,13,29);
    // background: linear-gradient(-45deg, rgba(27,13,29,1) 0%, rgba(89,54,119,0.9556467563291139) 100%);
    background: #1d2027;
    opacity: .94;
    .IssueSectionContainer {
        display: flex;
        flex-direction: column;
        .addIssue_btn_container{
            padding: 5vh 7vw;
            display: flex;
            justify-content: flex-end;
            .addIssue_btn{
                height: 30px;
                border-radius: 7px;
                border: none;
                background-color: greenyellow;
                .addIssue_Btn_content {
                    .addIssue_image {

                    }
                }
            }
        }
    }
}